/* #region root */

:root {
  --color-black: #252222;
  --color-grey: #939191;
  --color-highlight: #cf6f50;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  transition: ease-in-out 0.2s all;
}

a.def-link {
  color: var(--color-black);
  text-decoration: none;
}

a.def-link.def-grey {
  color: var(--color-grey);
}

a.def-link:hover {
  color: #cf6f50;
}

.btn-red {
  background-color: #ca381e;
  color: white;
}

.btn-red:hover {
  background-color: #e93e20;
  color: white;
}

.slider-item {
  opacity: 0 !important;
  transition: opacity 1s ease !important;
}
.slider-item.is-selected {
  opacity: 1 !important;
}

.show-resp {
  display: none;
}

/* #endregion */

/* #region header top */

.header-l2 {
  padding: 1.5rem 0;
  background: #ffffff;
}

.text-header-sm {
  font-weight: 700;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  color: var(--color-black);
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 2px;
  margin: 0;
  width: max-content;
}

.header-icons {
  margin: 0;
  padding: 0;
  display: inline-block;
  padding-left: 0.5rem;
}

.header-icons li {
  display: inline-block;
  padding: 0 0.5rem;
}

.header-icons a {
  color: var(--color-black);
}

.flex-v-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100%;
}

.flex-h-center {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.align-right {
  align-items: flex-end;
}

span.navbar-toggler-icon {
  font-size: 26px;
  width: auto;
}

/* #endregion */

/* #region header nav */

.header-l1 {
  padding: 28px 0;
}

.header-l1 {
  background-color: var(--color-black);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 50;
}

.l1-head-logo {
  position: absolute;
  z-index: 60;
  transition: cubic-bezier(0.45, 0, 0.55, 1) 0.4s all;
  transform: translateY(-7.5rem) scale(1);
}

.l1-head-logo img {
  height: auto;
  width: 20rem;
  max-width: 100%;
  padding: 1rem;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 0.5rem -0.5rem rgba(0, 0, 0, 0.3);
}

.active-sticky .l1-head-logo {
  transform: translateY(-37.5%) scale(0.45);
}

.header-l1 ul.nav-links {
  list-style: none;
  margin: 0 -15px;
  padding: 0;
}

.header-l1 ul.nav-links li.link-item {
  display: inline-block;
  margin: 0 auto;
  padding: 0 1rem;
}

.header-l1 .display-4 {
  color: #cacaca;
}

.header-l1 a.h-nav-link {
  font-size: 22px;
  padding: 15px 0;
  display: inline-block;
  color: #939191;
  text-decoration: none;
  text-transform: uppercase;
}

li.link-item:hover > a.h-nav-link {
  color: #ffffff;
}

.drop-more,
.drop-list {
  position: relative;
}

.drop-more a.h-nav-link::after {
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  content: "\f078";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 12px;
  margin-left: 0.5rem;
  margin-bottom: 0.2rem;
  vertical-align: middle;
}

.drop-more .drop-c,
.drop-more .sub-drop-c {
  max-height: 0;
  opacity: 0;
  position: absolute;
  transition: ease-in-out 0.3s all;
  overflow: hidden;
}

.drop-more .drop-list,
.drop-more .sub-drop-list {
  padding: 1rem 0;
  margin: 0;
  background-color: #ffffff;
  width: 15rem;
  border-radius: 4px;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
}

.drop-more .drop-top {
  padding-bottom: 1rem;
  bottom: 100%;
  left: 0;
}

.drop-more .drop-down {
  top: 100%;
  left: 0;
}

.drop-more .drop-left {
  padding-right: 1rem;
  top: 0;
  right: 100%;
}

.drop-more .drop-right {
  padding-left: 1rem;
  top: 0;
  left: 100%;
}

.drop-list li {
  display: block;
}

.drop-list .drop-link,
.sub-drop-list .sub-drop-link {
  color: var(--color-black);
  padding: 0.5rem;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}

.drop-list .sub-link-item,
.sub-drop-list .sub-drop-item {
  padding: 0 1rem;
}

.drop-list .sub-link-item:hover .drop-link,
.sub-drop-list .sub-drop-item:hover .sub-drop-link {
  padding-left: 1rem;
  color: var(--color-highlight);
}

.drop-more:hover .drop-c,
.drop-more a.h-nav-link:focus + .drop-c {
  padding-top: 1rem;
}

.drop-more:hover .drop-c,
.drop-more a.h-nav-link:focus + .drop-c,
.sub-drop-more:hover .sub-drop-c,
.sub-drop-more a.drop-link:focus + .sub-drop-c {
  max-height: 20rem;
  opacity: 1;
  overflow: visible;
}

/* .drop-more:hover .drop-list,
.drop-more a.h-nav-link:focus + .drop-list {
  top: 100%;
} */

/* .sub-drop-more:hover .sub-drop-c,
.sub-drop-more a.drop-link:focus + .sub-drop-c {
  right: 100%;
  padding-right: 1rem;
} */

/* #endregion */

/* #region sidebar */

.sidebar {
  position: fixed;
  top: 0;
  right: -100%;
  height: 100%;
  width: 100%;
  max-width: 35rem;
  transition: ease-in-out 0.3s all;
  background-color: var(--color-black);
  z-index: 60;
}

.sidebar-head {
  font-size: 24px;
  color: #d1d1d1;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 0.5rem;
}

.sidebar-content .sidebar-icons {
  margin: 0;
  padding: 0 0.5rem;
}

.sidebar-content .sidebar-icons li{
  display: inline-block;
  padding: 0.5rem;
}

.sidebar.sidebar-active {
  right: 0;
}

.sidebar .sidebar-control {
  text-align: right;
}

.sidebar .sidebar-toggle {
  margin: 1rem;
  margin-top: 1.5rem;
}

.sidebar-content {
  padding: 1rem 2rem;
}

.sidebar-content .nav-links {
  margin: 0;
  padding: 0;
}

.sidebar-content .h-nav-link {
  font-size: 20px;
  color: #939191;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 0.5rem;
}

.sidebar-content .sub-drop-more > a.h-nav-link::after {
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  content: "\f078";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 12px;
  margin-left: 0.5rem;
  margin-bottom: 0.2rem;
  vertical-align: middle;
  transition: ease-in-out 0.3s transform;
  transform: rotate(180deg);
}

.sidebar-content .sub-drop-more a.h-nav-link.collapsed::after {
  transform: rotate(0);
}

.sidebar-content .sub-drop-more .sub-link {
  font-size: 20px;
  color: #939191;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
}

/* #endregion */

/* #region slider banner */

.slider-item {
  width: 100%;
}

.main-banner .slide-desc {
  height: 70vh;
  min-height: 24rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section.intro-items {
  padding: 3rem 0;
}

/* #endregion */

/* #region intro widgets */

.intro-widget {
  margin-bottom: 1rem;
}

.widget-text {
  padding: 50px 0 30px 0;
}

.widget-title {
  font-weight: 400;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  color: var(--color-black);
  font-size: 34px;
  line-height: 1.3;
  letter-spacing: 2px;
}

.widget-desc {
  font-weight: 300;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  color: #939191;
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 0px;
  padding-top: 30px;
}

.widget-bordered {
  border: 20px solid #eeedeb;
  /* margin-bottom: 50px; */
  padding: 30px;
}

a.widget-custom-link {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--color-black);
  background-color: transparent;
  border-color: #999999;
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 3.2px;
  padding: 28px 24px;
  text-decoration: none;
  position: relative;
}

a.widget-custom-link::before,
a.widget-custom-link::after {
  position: absolute;
  content: "";
  border-width: 2px;
  border-style: solid;
  border-color: inherit;
  left: 0;
  right: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  height: 20px;
  z-index: 1;
}

a.widget-custom-link::before {
  top: 0;
  border-width: 2px 2px 0 2px;
}

a.widget-custom-link::after {
  bottom: 0;
  border-width: 0px 2px 2px 2px;
}

a.widget-custom-link:hover::before,
a.widget-custom-link:hover::after {
  height: 50%;
}

/* #endregion */

/* #region sale banners del */

/* #sale-banners {
  width: 100%;
  background-color: var(--color-black);
}

.sale-spacer {
  display: inline-block;
  padding: 30px 0;
  width: 60px;
  vertical-align: top;
}

.sale-spacer .spacer-line {
  border-top: 5px solid #ffffff;
  width: 100%;
}

.sale-info {
  width: calc(100% - 65px);
  display: inline-block;
}

.sale-item {
  width: 100%;
}

.sale-bg-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.sale-desc {
  padding: 55px 0;
  display: inline-block;
}

.sale-content {
  padding: 55px 40px 30px 10px;
}

.sale-sub-head {
  font-weight: 400;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  color: #cf6f50;
  font-size: 30px;
  line-height: 1.6;
  letter-spacing: 3px;
}

.spacer-md {
  height: 35px;
}

.sale-title {
  font-weight: 700;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 40px;
  line-height: 1.3;
  letter-spacing: 0px;
}

.sale-title.title-colored {
  color: #cf6f50;
}

.sale-text {
  font-weight: 300;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  color: #939191;
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 0px;
}

.sale-link-block {
  padding: 10px;
  padding-bottom: 30px;
}

a.sale-link {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--color-black);
  background-color: #ffffff;
  border-color: #ffffff;
  font-size: 16px;
  letter-spacing: 3.2px;
  padding: 28px 43px;
  text-decoration: none;
  text-transform: uppercase;
}

a.sale-link:hover {
  background-color: #999999;
  color: #ffffff;
} */

/* #endregion */

/* #region sale carousel */

/* #sale-banners {
  margin-bottom: 40px;
} */

/* .carousel-sale-item {
} */

.carousel-sale-item {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.carousel-sale-item .carousel-link {
  display: block;
  width: 45rem;
  max-width: 100vw;
  height: 50rem;
  max-height: 70vh;
  position: relative;
}

.carousel-sale-item .sale-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2rem;
  background-color: #252222a6;
  margin: 0;
  color: var(--color-grey);
  transition: ease-in-out 0.3s;
  transition-property: color, background-color;
  text-align: center;
}

.carousel-sale-item:hover .sale-title {
  color: var(--color-highlight);
  background-color: #252222d8;
}

/* #endregion */

/* #region promo */

.promo-item-container {
  border-bottom: 1px solid #d1d1d1;
}

.promo-item {
  padding: 55px 30px 30px 30px;
}

.promo-item.promo-1,
.promo-item.promo-3 {
  background-color: #dfc3ab;
}
.promo-item.promo-2 {
  background-color: #efd4b9;
}

.promo-logo-block {
  width: 75px;
  height: 90px;
  display: block;
  margin: auto;
  background-color: #ccb29d;
}

.promo-logo {
  height: 100%;
  width: 100%;
}

.promo-logo svg.icon {
  width: inherit;
  height: inherit;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.promo-text {
  padding: 30px 10px 10px;
}

.promo-title {
  font-weight: 700;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  color: var(--color-black);
  font-size: 30px;
  line-height: 1.6;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.promo-desc {
  font-weight: 300;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  color: var(--color-black);
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 1px;
}

/* #endregion */

/* #region footer main */

.spacer-large {
  height: 50px;
}

.footer-content {
  padding: 55px 0;
}

.footer-link-head {
  font-weight: 400;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  color: var(--color-black);
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: 2px;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

.footer-nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-nav-links a.footer-nav-link {
  font-weight: 400;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 2.5;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  transition: ease-in-out 0.3s all;
}

/* #endregion */

/* #region footer copy */

.footer-copy {
  background-color: #eeedeb;
  padding: 40px 0;
  font-weight: 300;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  color: #939191;
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 0px;
}

p.copy-text {
  margin: 0;
}

/* #endregion */

/* #region go top */

.to-top {
  width: 3rem;
  height: 3rem;
  background-color: var(--color-highlight);
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  transition: opacity 0.5s linear, height 0.5s step-start;
}

.to-top:hover {
  background-color: var(--color-black);
}

.to-top.hide {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition-timing-function: linear, step-end;
}

.to-top a {
  padding: 1rem;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
}

.to-top i {
  transform: translateY(-20%);
}

/* #endregion */

/* #region media */

@media (max-width: 1140px) {
  /* #region header-nav */

  .hide-resp {
    display: none;
  }

  .show-resp {
    display: initial;
  }

  .header-l1 .nav-links {
    height: 63px;
    width: 0;
  }

  .l1-head-logo {
    transform: translateY(-1.5rem) scale(1);
  }

  .l1-head-logo img {
    width: 8rem;
    padding: 0.5rem;
  }

  .active-sticky .l1-head-logo {
    transform: translateY(-1.5rem) scale(1);
  }

  /* #endregion */

  /* #region intro */

  section.intro-items {
    padding: 1rem 0;
  }

  /* #endregion */

  /* #region footer */

  .spacer-large{
    height: 0;
  }

  .footer-content{
    padding-top: 0;
  }

  /* #endregion */
}

/* #endregion */
